body {
	font-family: Arial, sans-serif;
  	font-weight: 400;
  	font-size: 1em;
  	line-height: 1.7;
  	color: #eee;
	background-color: black;
    width: 100%;
    margin: 0;
}

body a{
	color:white;
}

.navbar {
	font-size: 1.5em;
	float: right;
	color: white;
	position: relative;
	right: 70px;
	top:30px;
	overflow: hidden;
}

.nav-icon {
	display: none;
	font-size: 2em;
	position: absolute;
	right: 30px;
	top: 30px;
}

.navbar a {
	margin: 0 5px;
	text-decoration: none;
	color: white;
}

.shadow {
	-webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
}

.text-shadow {
	text-shadow: 2px 2px 6px black;
}

.header {
  	height: 100vh;
  	position: relative;
}

.brand-box {
  	position: absolute;
  	top: 0px;
  	left: 40px;
}

.brand { font-size: 20px; }

.text-box {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.heading-primary {
  	color: #fff;
  	text-transform: uppercase;
  	backface-visibility: hidden;
}

.heading-primary-main {
  	display: block;
  	font-size: 1em;
  	font-weight: 400;
  	letter-spacing: 3px;
}

.heading-primary-sub {
  	display: block;
  	font-size: .75em;
  	font-weight: 700;
}

.btn:link,
.btn:visited {
	margin-top: 20px;
  	text-transform: uppercase;
  	text-decoration: none;
  	padding: 10px 20px;
  	display: inline-block;
  	border-radius: 100px;
  	transition: all .2s;
  	position: relative;
}

.btn:hover {
  	transform: translateY(-3px);
  	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  	transform: translateY(-1px);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  	background-color: #fff;
  	color: #777;
	font-size: 14px;
}

.release-button-row {
	margin-top: 10px;
}

.releaseButton {
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all .2s;
  margin:2px;
}

.releaseButton:hover {
	transform: translateY(-5px);
  	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.releaseButton-green {
	background-color: green;
	color: white;
}

.releaseButton-blue {
	background-color: blue;
	color: white;
}

.releaseButton-purple {
	background-color: #4b3082;
	color: white;
}

.releaseButton-cyan {
	background-color: #04786c;
	color: white;
}

.social {
	position: absolute;
	right: 30px;
	bottom: 20px;
}

.release {
	position: absolute;
	left: 30px;
	bottom: 20px;
	width: 298px;
	height: 60px;
	border: 0px solid black;
	border-radius: 7px;
	background: #485563;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.release-container {
	margin: 5px 10px 5px 10px;
}

.social img {
	margin: 0 5px;
}

.content-box {
	scroll-behavior: smooth;
	width: 100%;
	padding: 40px 0 40px 0;
}

.content-box .sub-box{
	width: 75%;
	margin: 0 auto;
}

.mainVideos {
	width: 610px;
}

.midnight-city {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nighthawk {
	background: #2980b9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sunshine {
	background: #b92b27;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-1 15:10:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-4 22:4:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .text-box {
	  width: 100%;
  }
  .heading-primary-main {
		display: block;
		font-size: .85em;
		font-weight: 400;
		letter-spacing: 5px;
	}

	.heading-primary-sub {
		display: block;
		font-size: .65em;
		font-weight: 700;
		letter-spacing: 7.4px;
	}

  .navbar {
    display: block;
	position: absolute;
	left: 40px;
	top: 90px;
    text-align: left;
  }

  .social {
	position: absolute;
    top: 30px;
  }

  .release {
	  width: 100%;
	  margin: 10px auto;
	  left: 0px;
  }

  .mainVideos {
	width: 100%;
}

}

canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #232741; background-image: url(""); background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
